@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ----- COLORS---------
    background-color: #606C38;
    background-color: #283618;
    background-color: #fefae0;
    background-color: #dda15e;
    background-color: #bc6c25; 
}
*/

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 275px auto;
    grid-template-rows: 200px 1fr 30px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    z-index: 3;
}

.top, .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header form, .account, .profile{
    display: flex;
    align-items: center;
}

.account, .profile {
    gap: 30px;
}

.header form button {
    background: url(images/header/magnify.svg);
    border: none;
    height: 30px;
    width: 30px;
}

.header input {
    width: 800px;
    height: 40px;
    border: 1px solid #dda15e;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 18px;
    background-color: #fefae0;
}

.header input:focus {
    outline: none;
    border: 2px solid #dda15e;
}

.header form {
    gap: 12px;
    padding-left: 72px;
}

.profile {
    padding-top: 12px;
    padding-right: 36px;
}

.notificationsBtn {
    background: url(images/header/bell-ring-outline.svg);
    background-repeat: no-repeat;
    border: none;
    height: 30px;
    width: 30px;
}

.profile .profilePic {
    height: 60px;
    width: auto;
    border-radius: 30px;
}

.profile .profilePic:hover {
    border: 2px solid black;
}

.profile .name {
    font-weight: 700;
    font-size: 18px;;
}

.profile .name:hover {
    text-decoration: underline;
}

.account {
    padding-left: 72px;
    padding-bottom: 12px;
}

.account .profilePic {
    height: 80px;
    width: auto;
    border-radius: 40px;
}

.account .profilePic:hover {
    border: 2px solid black;
}

.account .greeting1 {
    font-weight: 700;
    font-size: 14px;
}

.account .greeting2 {
    font-weight: 700;
    font-size: 25px;
}

.account .greeting2:hover {
    text-decoration: underline;
}

.header .bottom .buttons {
    display: flex;
    gap: 30px;
    padding-right: 50px;
}

.header .bottom button {
    border: none;
    background-color: #bc6c25;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
}

.header .bottom button:hover {
    background-color: white;
    color: #bc6c25;
    border: 2px solid #bc6c25;
}

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    background-color: #283618;
    display: grid;
    grid-template-rows: 100px 400px 300px;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}

.dashboard img {
    height: 50px;
    width: auto;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(98deg) brightness(106%) contrast(102%);
}

.dashboard p {
    color: white;
    font-size: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menuItem:hover {
    background-color: #354820;
}

.menuItem img {
    padding-left: 20px;;
    height: 35px;
    width: auto;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(98deg) brightness(106%) contrast(102%);
}

.menuItem a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #fefae0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: 1fr;
    padding: 25px;
    gap: 20px;
    overflow: auto;
}

.main .title {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 18px;
}

.cards {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 220px;
    gap: 18px;
}

.card {
    background-color: white;
    box-shadow: 0px 0px 45px -26px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 20px;
    border-left: 10px solid #bc6c25;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(85, 85, 85);
}

.card .cardTitle {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.card .buttons {
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    gap: 5px;
    padding-top: 10px;
}

.card .buttons button{
    border: none;
    height: 25px;
    width: 25px;
}

.card .buttons button:hover{
    height: 27px;
    width: 27px;
}

.card .buttons .btn1 {
    background: url(images/main/star-plus-outline.svg);
}

.card .buttons .btn2 {
    background: url(images/main/eye-plus-outline.svg);
}

.card .buttons .btn3 {
    background: url(images/main/source-fork.svg);
}

.rightColumn {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.announcementsCard {
    height: auto;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 45px -26px rgba(0, 0, 0, 1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.section1, .section2, .section3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    border-top: 1px solid #dda15e;
    padding-top: 10px;
    color: rgb(85, 85, 85);
}

.section1:hover, .section2:hover, .section3:hover {
    background-color: rgb(221, 221, 221);
    border-radius: 8px;
}

.section1 {
    border-top: none;
    padding-top: 0;
}

.sectionTitle {
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.trendingCard {
    box-shadow: 0px 0px 45px -26px rgba(0, 0, 0, 1);
    height: auto;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
}

.person{
    display: flex;
    gap: 15px;
    align-items: center;
}

.person:hover {
    border-radius: 7px;
    background-color: rgb(221, 221, 221);
}

.person img {
    height: 60px;
    width: auto;
    border-radius: 30px;
}

.person .handle {
    font-size: 16px;
}

.person .app {
    color: rgb(85, 85, 85);
    font-size: 14px;
}

.footer {
    grid-area: 3 / 2 / 4 / 3;
    background-color: white;
    box-shadow: 0 -10px 15px -3px rgb(0 0 0 / 0.1), 0 -4px 6px -4px rgb(0 0 0 / 0.1);
    text-align: center;
    padding-top: 5px;
}