@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ----- COLORS---------
    background-color: #606C38;
    background-color: #283618;
    background-color: #fefae0;
    background-color: #dda15e;
    background-color: #bc6c25; 
}
*/

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 200px 1fr 50px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #f7f7ed; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.top, .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header form, .account, .profile{
    display: flex;
    align-items: center;
}

.account, .profile {
    gap: 30px;
}

.header form button {
    background: url(images/header/magnify.svg);
    border: none;
    height: 30px;
    width: 30px;
}

.header input {
    width: 800px;
    height: 40px;
    border: 1px solid #dda15e;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 18px;
    background-color: #fefae0;
}

.header input:focus {
    outline: none;
    border: 2px solid #dda15e;
}

.header form {
    gap: 12px;
    padding-left: 72px;
}

.profile {
    padding-top: 12px;
    padding-right: 36px;
}

.notificationsBtn {
    background: url(images/header/bell-ring-outline.svg);
    border: none;
    height: 30px;
    width: 30px;
}

.profile .profilePic {
    height: 60px;
    width: auto;
    border-radius: 30px;
}

.profile .profilePic:hover {
    border: 2px solid black;
}

.profile .name {
    font-weight: 700;
    font-size: 18px;;
}

.profile .name:hover {
    text-decoration: underline;
}

.account {
    padding-left: 72px;
    padding-bottom: 12px;
}

.account .profilePic {
    height: 80px;
    width: auto;
    border-radius: 40px;
}

.account .profilePic:hover {
    border: 2px solid black;
}

.account .greeting1 {
    font-weight: 700;
    font-size: 14px;
}

.account .greeting2 {
    font-weight: 700;
    font-size: 25px;
}

.account .greeting2:hover {
    text-decoration: underline;
}

.header .bottom .buttons {
    display: flex;
    gap: 30px;
    padding-right: 50px;
}

.header .bottom button {
    border: none;
    background-color: #bc6c25;
    color: #fefae0;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
}

.header .bottom button:hover {
    background-color: #fefae0;
    color: #bc6c25;
    border: 2px solid #bc6c25;
}

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    background-color: #283618;
    display: grid;
    grid-template-rows: 100px 400px 300px;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}

.dashboard img {
    height: 50px;
    width: auto;
    filter: invert(94%) sepia(15%) saturate(198%) hue-rotate(7deg) brightness(108%) contrast(94%);
}

.dashboard p {
    color: #fefae0;
    font-size: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menuItem img {
    padding-left: 20px;;
    height: 35px;
    width: auto;
    filter: invert(94%) sepia(15%) saturate(198%) hue-rotate(7deg) brightness(108%) contrast(94%);
}

.menuItem a {
    text-decoration: none;
    color: #fefae0;
    font-size: 20px;
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #fefae0;
}

.footer {
    grid-area: 3 / 2 / 4 / 3;
    background-color: darkgray;
}